{% block head %}
    <style>
        .logo {
            text-align: center;
            align-content: center;
        }

        .logo h1 {
            color: #6a7588;
        }

        .logo h5 {
            color: #a0a6ae;
        }

        .icons {
            font-size: 100px;
            height: 125px;
            width: 125px;
            color: #f2ead3;
            background-color: #8e95a1;
            border-radius: 50%;
            line-height: 165px;
            display: inline-block;
        }

        .form-group input, .form-group input:hover {
            background-color: #f3ede3;
            border: #6a7588 solid 1px;
        }

        .form-group{
            text-align: center;
            align-content: center;
        }

        .form-group label {
            font-size: 20px;
            width: 100%;
        }

        .form-group button, .form-group button:hover {
            background-color: #7c8594;
            text-align: center;
            align-content: center;
            border-radius: 25px;
            border: none;
            padding: 7px 15px;
        }

        .redirect {
            text-align: center;
        }

        .redirect a {
            text-decoration: none;
            color: #6a7588;
            display: inline-block;
        }

        .flex-container {
            display: flex;
            background-color: #efdfb8;
            padding: 200px;
            border-radius: 25px;
            border: 1px solid #8e95a1;
        }

        .flex-child {
            flex: 1;

        }

        .flex-child:first-child {
            margin-right: 20px;
            align-content: center;
        }
    </style>
{% endblock %}


<div class="logo">
    <div class="icons">***</div>
    <h1>Cyberpixels</h1>
    <h5>Your cyber shield</h5>
</div>
