<div class="form-group">
    <label for="password">Geslo:</label>
    <br>
    <br>
    {% for row in p_images %}
        <div>
            {% for col in row %}
                <img src="/static/images/{{ col }}.png" alt=" img" style="
                height: 60px;
                width: 60px;
                margin: 5px;
                padding: 5px;"
                     id="{{ col * 1369}}"
                     onclick="onSelect({{ col * 1369 }})"
                />
            {% endfor %}
        </div>
    {% endfor %}
</div>